/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-brand-1: #186EF0;
  --vp-c-brand-2: #498df3;
  --vp-c-brand-3: #a9c9f9;
  --vp-code-color: var(--vp-c-brand-2);
  --vp-c-brand-soft: rgba(24, 110, 240, 0.14);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

.VPHome .vp-doc {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 25px;
}


@media screen and (min-width: 640px) {
    .VPHome .vp-doc {
        padding: 0 48px;
    }
}

@media screen and (min-width: 960px) {
    .VPHome .vp-doc {
        padding: 0 64px;
    }
}

/**
 * Logo
 * -------------------------------------------------------------------------- */

:root .logo {
    /*height: 48px;*/
    /*margin-right: 12px;*/
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-1);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  /*--vp-home-hero-name-color: transparent;*/
  /*--vp-home-hero-name-background: -webkit-linear-gradient(*/
  /*  120deg,*/
  /*  #bd34fe 30%,*/
  /*  #41d1ff*/
  /*);*/

  /*--vp-home-hero-image-background-image: linear-gradient(*/
  /*  -45deg,*/
  /*  #bd34fe 50%,*/
  /*  #47caff 50%*/
  /*);*/
  /*--vp-home-hero-image-filter: blur(40px);*/
}

/*@media (min-width: 640px) {*/
/*  :root {*/
/*    --vp-home-hero-image-filter: blur(56px);*/
/*  }*/
/*}*/

/*@media (min-width: 960px) {*/
/*  :root {*/
/*    --vp-home-hero-image-filter: blur(72px);*/
/*  }*/
/*}*/

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand-1);
  --vp-custom-block-tip-text: var(--vp-c-brand-3);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand-1);
  --vp-custom-block-tip-text: var(--vp-c-brand-2);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

/**
 * VitePress: Custom fix
 * -------------------------------------------------------------------------- */

/*
  Use lighter colors for links in dark mode for a11y.
  Also specify some classes twice to have higher specificity
  over scoped class data attribute.
*/
.dark .vp-doc a,
.dark .vp-doc a > code,
.dark .VPNavBarMenuLink.VPNavBarMenuLink:hover,
.dark .VPNavBarMenuLink.VPNavBarMenuLink.active,
.dark .link.link:hover,
.dark .link.link.active,
.dark .edit-link-button.edit-link-button,
.dark .pager-link .title {
  color: var(--vp-c-brand-2);
}

.dark .vp-doc a:hover,
.dark .vp-doc a > code:hover {
  color: var(--vp-c-brand-3);
  opacity: 1;
}

/* Transition by color instead of opacity */
.dark .vp-doc .custom-block a {
  transition: color 0.25s;
}

